<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.maof.haikang.mapper.RoleMapper">

    <resultMap id="role" type="top.maof.haikang.model.Role">
        <id property="id" column="id"></id>
        <result property="level" column="level"></result>
        <result property="synopsis" column="synopsis"></result>
        <collection property="perms" ofType="Perm" resultMap="permMap"/>
    </resultMap>

</mapper>

